/* TAGS */

.ui-jqgrid-sortable {
	text-shadow: 3px 3px #DDDDDD;
}

.ui-jqgrid {
	box-shadow: 5px 5px 5px #888888;
}

.verticalLine {
	width:2px;
	height:40px;
	float:left;
	text-align:center;
	margin-left:2px;
	vertial-align: center;
	border-left: 1px solid #DDDDDD;
}

* {
	margin: 0;
	padding: 0
}

.messages:hover {
	opacity: 0.7 ! important;
	color: blue ! important;
}

.messages {
	text-decoration: none;
	position: absolute;
	margin-top: -5px;
	margin-left: -82px;
}

.messages img {
	text-decoration: none;
}

.hoverimage {
	border:1px solid transparent;
}

.hoverimage:hover {
	border:1px dotted #888888;
}

ul,ol {
	list-style: none;
}

.alternate {
	color: blue;
	font-weight: bold;
}

marquee {
    display: inline-block;
}
.docimg div {
	font-size:8px;
	margin-left:15px;
	margin-top: -8px;
	color: red;
	font-weight: bold;
}
.docimg {
	width: 32px;
	height: 16px;
	margin-top:8px;
	background: url(../images/document.gif) no-repeat;
	background-position:0px 0px;
}

#appwarningclose {
	position: absolute;
	width:16px;
	height:16px;
	background: url(../images/close.png);
	margin-left:85%;
	top: 14px;
	display: none;
	z-index:100;
}

#appwarning {
	position: absolute;
	text-transform: uppercase;
	width:70%;
	margin-left:15%;
	height:20px;
	padding:5px;
	overflow: none;
	display:none;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 10px;
	background-color: #CCFFDD;
	color: red;
	top: 20px;
	font-size: 13px;
}

.dhx_cal_event_line {
	box-shadow: 3px 3px 5px #888888;
	border-radius: 3px;
}

.dhx_cal_data > table > tbody > tr > td {
}

.ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}



.requiredmarker {
	color: red;
	font-size: 15px;
	vertical-alignment: bottom;
}

html {
	height:100%;
}

.homemenu .tinyMCE {
	width:230px;
}


.ui-jqgrid-btable td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
    min-height: 100%;
    overflow:hidden;
	background-attachment: fixed;
	background-color: white ! important;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #434343;
	min-width: 960px;
}

object {
	vertical-align: top;
	outline: none
}


fieldset {
	border: 0
}

p {
	margin: 0;
	padding: 0
}

img {
	border: 0;
	vertical-align: top;
	text-align: left
}

/* ALIGMENT */
.fleft {
	float: left
}

.fright {
	float: right ! important;
}

.clear {
	clear: both
}

.alignright {
	text-align: right
}

.aligncenter {
	text-align: center
}

.wrapper {
	width: 100%;
	overflow: hidden
}

.extra-wrap {
	overflow: hidden
}

.container {
	width: 100%;
}

/* GLOBAL */
#header,#content2 .row-1,#content .row-2 {
	font-size: 0.814em;
	width: 100%;
	margin: 0 auto
}

.col-1,.col-2,.col-3 {
	float: left
}

.disabledbutton {
	opacity: 0.5 ! important;
}

.pressed {
	border:1px solid black ! important;
	background: linear-gradient(to bottom, #b8c6df 0%,#6d88b7 100%) ! important;	
}

.link2.disabledbutton:hover {
	background: linear-gradient(to bottom, #fe3c1a 0%,#fd563d 50%,#f11d01 51%,#f71e01 71%,#fc1702 100%);
	color: white ! important;
}	

.link2:hover {
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);	
	color: black ! important;
}

.link2 {
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	line-height: .92em;
	box-shadow: 3px 3px 5px #888888;
	background: linear-gradient(to bottom, #fe3c1a 0%,#fd563d 50%,#f11d01 51%,#f71e01 71%,#fc1702 100%);
	border-radius: 8px;
	border: 1px solid #888888;
	margin:2px;
}
.link2 em {
	display: block;
}

.link2 b {
	display: block;
	padding: 6px 6px 6px 6px;
	font-style: normal
}


.link3.disabledbutton:hover {
	background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
	color: white ! important;
}	

.link3:hover {
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);	
	color: black ! important;
}


.link3 {
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	line-height: .92em;
	box-shadow: 3px 3px 5px #888888;
	background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
	border-radius: 8px;
	border: 1px solid #888888;
	margin:2px;
}
.link3 em {
	display: block;
}

.link3 b {
	display: block;
	padding: 6px 6px 6px 6px;
	font-style: normal
}

.link4.disabledbutton:hover {
	background: linear-gradient(to bottom, #ffb5be 0%,#e2001a 49%,#ff1f39 50%,#ff8190 100%);
	color: white ! important;
}	

.link4:hover {
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);	
	color: black ! important;
}


.link4 {
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	line-height: .92em;
	box-shadow: 3px 3px 5px #888888;
	background: linear-gradient(to bottom, #ffb5be 0%,#e2001a 49%,#ff1f39 50%,#ff8190 100%);
	border-radius: 8px;
	border: 1px solid #888888;
	margin:2px;
}
.link4 em {
	display: block;
}

.link4 b {
	display: block;
	padding: 6px 6px 6px 6px;
	font-style: normal
}

p {
	margin-bottom: 20px;
	line-height: 1.54em
}

/* TXT, LINKS, LINES, TITLES */
a {
	color: blue;
	outline: none
}

a:hover {
	text-decoration: none
}

h3 {
	font-size: 28px;
	line-height: 1.2em;
	margin-bottom: 15px
}

h1 {
	font-size: 1.54em;
	line-height: 1.2em;
	font-family: Verdana, Geneva, sans-serif;
}

h4 {
	font-size: 1.54em;
	line-height: 1.2em;
	color: #333333;
	padding: 14px 0 8px 0;
	font-weight: normal;
	font-family: Tahoma, Arial, helvetica, sans-serif
}

.inner h4 {
	font-size: 15px;
	line-height: 16px;
	color: white;
	padding: 14px 0 8px 0;
	font-weight: bold;
	font-family: Tahoma, Arial, helvetica, sans-serif
}

/* CONTENT */
#content {
	margin-top: 12px;
	position: relative;
}

/* FOOTER */
#footer .footer {
	color: #aaa;
	background:  #CCCCCC;	
	text-align: center;
	vertical-align: center;
	padding: 5px;
	text-shadow: 2px 2px #AAAAAA;
	position: fixed;
	bottom: 0;
	width:100%;
	height:25px;
	
}

#footer a {
	color: black;
	font-size:11pt ;
		line-height:11pt ;
	text-decoration: none;
}

.login div {
	width: 108px;
	height: 102px;
	margin-left: 20px;
	margin-top: -20px;
	border: 0px solid black;
}

.login-dialog .ui-dialog-titlebar {
	display:none;
}

.loginlogo {
	margin-left: 220px; 
	margin-top: 50px; 
	width: 190px;
	height: 90px;
	position: absolute;
}

.loginbutton:hover {
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);	
	color: black;
	cursor: pointer;
}

.loginbutton {
	display: block;
	float: left;
	color: black;
	text-decoration: none;
	line-height: .92em;
	box-shadow: 3px 3px 5px #888888;
	border-radius: 8px;
	border: 1px solid #888888;
	margin:2px;
	padding:8px;	
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
	color: white;
}

#logindialoglogo {
	background: url(../images/prodigyworks.png);
	position: absolute;
	margin-top: -50px;
	margin-left: 300px; 
	width: 150px;
	height: 20px;
}


.login {
	margin-left: 920px;
	margin-top: 38px;
	position: absolute;
}

.reportform, .entryform {
	padding:5px;
}

.reportform {
	background-image: url(../images/report-bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.entryform label {
	display: block;
}

.breadcrumb  a{
	color: black;
}

.breadcrumb  {
	margin-left: 79.5%;
	width: 20%;
	overflow: hidden;
	text-align: right;
	z-index: 60;
	position: absolute;
	margin-top: -33px;
	font-size: 11px;
}

.breadcrumb .divider {
	margin-left: 3px;
	letter-spacing: -4px ! important;
	color: black ! important;
	margin-right: 4px;
}

.breadcrumb span a {
	text-decoration: none;
	color: white ! important;
	margin-top: -10px ! important;
	margin-left: 5px ! important;
}

.extra-wrap a:hover {
	color: black ! important;
	text-decoration: underline;
}

.extra-wrap td {
		font-size: 13px ! important;
}
.extra-wrap a {
	color: #848484 ! important;
	text-decoration: none;
}

#logindialog a {
	color: white;
}

#logindialog #close {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

#logindialog table {
	padding: 20px;
	padding-top: 40px;
}

#logindialog p {
	color: grey;
	font-size: 12px;
	margin-top: -80px;
	padding-left: 200px;
}

#logindialog {
	color: white;
	position: absolute;
	margin-left: 520px;
	margin-top: 200px;
	width: 400px;
	z-index: 1000;
	height: 231px;
	background: url(../images/logindialog.png) no-repeat;
}

.row-1 #logo {
	margin-top: -15px;
}

#logoutdialog {
	color: white;
	position: absolute;
	margin-left: 520px;
	margin-top: 330px;
	width: 400px;
	z-index: 10000;
	height: 231px;
	background: url(../images/logout.png) no-repeat;
}

.hide {
	display: none;
}

#upload_container #filelist {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #333;
}

#messagecontainer {
	text-decoration:none; 
	color: red !important;
}

.rgap5 {
	margin-right: 5px;
}

.rgap2 {
	margin-right: 2px;
}

.red {
	margin:0px;
	margin-top:10px;
	left:0px ! important;
}

#toppanel a {
	color: black;
}

#toppanel .prefix {
	color: black;
	font-weight: bold;
}

#toppanel {
	float:right;
}

.modal {
	overflow-x: hidden ! important;
	display: none;
	z-index: 99990000 ! important;
}

.ui-dialog {
	background-color: white ! important;
	box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3) ! important;
	-moz-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3) ! important;
	-webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3) ! important;
	behavior: url(scripts/pie.htc) ! important;
}

.textfield60 {
	width: 300px ! important;
}

.textfield90 {
	width: 500px ! important;
}
.views {
	font-size: 8px;
	color: yellow;
}

.profileimageselector:hover {
	opacity: 1;
}

.profileimageselector {
	position: absolute;
	margin-top:-38px;
	margin-left:60px;
	float:right;
	opacity: 0.5;
	z-index:101;
}

.profileimage #profileimage_img {
	height: 62px ! important;
	min-height: 62px ! important;
	max-width: 62px;
	min-width:50px;
}

.profileimage {
	padding-bottom:10px;
	background-color: white;
	box-shadow: 3px 3px 5px #888888;
	border-radius: 40px;
	border: 1px solid grey;
	position: absolute;
	display:inline;
	margin-left:-100px;
	padding:15px;
	min-width: 42px;
	text-align: right;
	width:62px;
	height:62px;
	z-index:100;
}

.ui-state-highlight  {
	color: white ! important;
	background: #8a5fcb ! important; /* Old browsers */
	background: -moz-linear-gradient(top,  #8a5fcb 0%, #7e47c1 50%, #5100a8 51%, #8c37db 100%) ! important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #8a5fcb 0%,#7e47c1 50%,#5100a8 51%,#8c37db 100%) ! important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%) ! important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5fcb', endColorstr='#8c37db',GradientType=0 ) ! important; /* IE6-9 */
}

.ui-state-highlight .docimg div {
	color: white ! important;
}

.grid>thead td,.grid tfoot td {
	height: 20px;
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%) ! important;
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
}



.grid td a,.list2 td a {
	text-decoration: underline;
	color: blue ! important;
}


.grid2 td a {
	color: blue;
}

.grid>thead td,.grid tfoot td {
	height: 20px;
	background: url(images/ui-bg_highlight-soft_15_cc0000_1x100.png) #dfeffc repeat-x 50% 50%;
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
}

.grid tbody:not(.nohover) tr:hover {
	opacity: 0.5;
	color: white;
	background-color: red;
}

.grid td {
	padding: 2px 0px 2px 5px;
	font-size: 12px;
	line-height: 12px;
}

.gallery {
	height: 500px;
}

.gallery .grid {
	margin-top: 20px;
}

.grid tr {
	border: 1px solid white;
}

.highlight {
	border: 1px solid black ! important;
	background-color: grey ! important;
	color: white ! important;
}

.list {
	border: 1px solid #DDDDDD;
	border-left: 0px solid #DDDDDD ! important;
}

.list thead td {
	border-bottom: 1px solid #DDDDDD;
}

.list td {
	border-left: 1px solid #DDDDDD;
}

#contentForm input {
	width: 100px;
}

#contentForm label,#contentForm input[type='submit'] {
	display: block;
	margin-top: 20px;
}


.codepreview {
	max-height: 300px;
	overflow: auto;
	margin: 5px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}

.content ul, .content ol {
	list-style: circle ! important;
}

.textbox10 {
	width: 80px;
}

html {
	padding: 2px;
	
}

.answer {
	padding: 5px;
	background-color: #F0F0F0;
	border: 1px solid #999999;
}

.textbox70 {
	width: 300px ! important;
}

.textbox90 {
	width: 430px ! important;
}

h2 {
	font-size: 16px;
	line-height: 20px;
}

.pickListContainer select {
	width: 780px;
	height: 150px;
}

.pickListButton div {
	padding-top: 10px ! important;
	padding-bottom: 10px ! important;
}

.readonlydate {
	width: 80px ! important;
}

.datepicker {
	width: 80px ! important;
}

.timepicker, .alldaytimepicker {
	width:35px ! important;
}

.mega-menu ul {
	display: none;
}

#siteconfig {
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	color: #333333;
}
#siteconfig td span {
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #999999;
}

#siteconfig td {
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	font-family: Myriad Pro Light;
}


.fixed {
	table-layout: fixed;
}

#errorlogin {
	color: white ! important; 
	font-weight: bold ! important; 
	margin-left: -70px;
	width: 240px;
}

#errorwindow {
	background: url(../images/errorbg.png) no-repeat ! important;
	position: absolute;
	padding-left: 15px;
	font-weight: bold;
	border: 1px solid grey;
	width: 385px;
	height: 140px;
	margin-top: -30px;
	margin-left: 300px;
}

.hidden {
	display: none;
}

.invalid {
	border: 1px solid red ! important;
	padding: 1px;
}

.bubble {
	visibility: hidden;
	display: inline-table;
	margin-left: 10px;
	position: relative;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
	background: url(../images/invalid.png);
}

.backicon {
	background: url(../images/back.png);
	width:60px;
	height:60px;
	display: block;
}

.backicon:hover {
	background: url(../images/back-hover.png) ! important;
}


form label {
	font-weight: bold;
}

.logo {
	position: absolute;
}


.ui-widget {
	font-size: 11px ! important;
}

.content {
	background-color: white;
	width: 100%;
}

.pad5 {
	padding: 5px ! important;
}
#title h4 {
	color: white ! important;
	padding-top: 5px ! important;
}

.content3 > #title {
	margin-top: 0px;
	background: url(../images/title.png) no-repeat;
	padding-left: 30px;
	width: 400px;
	height: 40px;
}
#documentForm {
	padding:13px 10px 13px 10px; 
	border:1px dashed grey;
}

#embeddedcontent label, #content label {
	display: block;
	vertical-align: bottom;
	font-weight: bold;
}

#embeddedcontent div, #embeddedcontent form {
	background-color:white ! important;
}	

iframe {
	background-color:white ! important;
		border: 2px solid black;
}

#documentcontainer {
	background-color:white ! important;
}

.embeddedpage {
	width: 100%;
	height: 600px;
	text-align: left;
	background-color: #f1f1f1 ;
}

#calendar {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#calendar .fc-border-separate div {
}

.menu2  {
	width: 100%;
	position: absolute;
	float:right;
	margin-top: -10px;
}


.submenu  li, .submenu a {
	width:100%;
	font-family: Tahoma, Arial, helvetica, sans-serif;
	font-size:10pt ! important; 
	margin:0px ! important;
	padding:0px ! important;
	display:block ! important;
	color:red ! important;
	line-height:15pt;
	font-weight: bold;
	text-align: left ! important; 
	background: none ! important;
	white-space:nowrap;
	border-bottom:1px dotted #CCCCCC;
	padding-bottom:5px;
	padding-top:5px;
}

.submenu li:hover {
	color:white ! important;
	cursor: pointer ! important;
	background: none ! important;
	background-color:red ! important;
}

.submenu {
	display:none;
	border:1px solid #d0e0ed;
	POSITION: absolute ;
	text-align:left;
	z-index:100;
	background-color:#f0f0f0 ! important;
	font-size:8pt;
	padding:0px;
	top:80px;
	min-width: 50px;
	margin:0px;
	moz-box-shadow : 0px 0px 7px #888888; 
	box-shadow: 0px 0px 7px #888888; 
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#888888',direction='120',strength='5');
}

.containerform, .entryform, #filterpanel  {
}

.crudentryform, #filterpanel  {
	max-height:450px;
}

.textarea_div {
	height: 150px;
	width: 700px;
	overflow-y: auto;
	overflow-x: none;
	border: 1px solid grey;
	padding: 5px;
	font-size: 17px; 
}

.mceIframeContainer iframe {
	font-size: 4px;
}

.eventColor1 .fc-event-inner {
    background-color: green ! important; /* background color */
	color: white ! important;
	font-size:9px;
	width:100% ! important;
 }

.eventColor2 .fc-event-inner {
	background-color: cyan ! important;
	font-size:9px;
	width:100% ! important;
	
}

.eventColor3 .fc-event-inner {
	background-color: cyan ! important;
	font-size:9px;
	width:100% ! important;
	
}

.eventColor4 .fc-event-inner {
	background-color: blue ! important;
	font-size:9px;
	color: white ! important;
	width:100% ! important;
	
}

#calendar .fc-event {
	border: 0px solid black ! important;
}


#tabledata {
	border-top: 1px solid grey;
	width: 1000px;
	height: 530px;
	overflow: auto;
}

.usercombodesc {
	display: inline-table;
}

.mailtable td {
	border-bottom:1px solid #CCCCCC; 
	padding:0px 0px 2px 0px;
}

.mailtable:hover {
	background-color: #FFFF88;
}

.mailtable h4 {
	font-weight: bold;
	color: #9999FF;
	font-size:14px;
	margin: 0px;
	padding:4px 0px 4px 0px;
	line-height:14px;
}

.messageheader a {
	font-size:14px;
		text-decoration: none;
	font-weight: bold;
	color: #9999FF;
}

.tabstrip {
	width: 100%;
	margin-bottom: 20px;
}

.tabstrip li a {
	text-decoration: none;
}

.tabstrip li {
	text-align: center;
	padding:3px 0px 0px 0px;
	border-bottom: 1px solid #AAAAAA;
	display: inline-table;
	width: 70px;
	list-style: none ! important;
	list-style-type: none ! important;
	margin: 0px ! important;
}

.tabstrip .current {
	border-bottom: 0px solid #AAAAAA ! important;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}

.tabstrip .last {
	text-align: right;
	display: inline-table;
	width: 300px;
}

.messageheader SELECT {
	margin-left: 20px;
}

.viewmessage td {
	padding-right: 20px;
}
.viewmessage h5 {
	font-size: 15px;
	
}

.viewmessage h5 span {
		color: #9999FF;
}

.viewmessage h3 {
	font-size: 21px;
	margin: 0px;
	padding-bottom: 5px;
	font-weight: bold;
}
.viewmessage ul li a {
	color: green;
	font-weight: bold;
	font-size:16px;
	text-decoration: none;
}

.viewmessage .messagecontent {
	padding-top: 20px;
}

.viewmessage ul {
	padding: 10px;
}

.viewmessage ul li {
	width: 100px;
	text-align: center;
	display: inline-table;
}

.userselector {
	padding: 2px;
	border: 1px solid #CCCCCC;
	height: 150px;
	overflow: auto;
	width: 500px;
}

.customeruser {
	color: blue;
	font-style: italic;
}

.userselector tr:hover {
	background-color: #FFFF88;
}

.userselector table {
	width: 480px;
	table-layout: fixed;
}

.userselector table tr {
	height: 16px;
}
.userselector table td {
	padding: 2px ! important;
}

.composetable td {
	padding:2px;
}

.entryform table td, .reportform table td {
	padding:2px;
}

.hiddenframe {
	z-index: 222111122290;
	width:600px;
	height:400px;
	left:200px;
	display:none;
	background-color: white;
	top:100px;
	position: fixed;
}

.hiddenframe iframe {
	width:100%;
	height: 100%;
}

.bold {
	font-weight: bold;
	font-style: italic;
	font-size:13px;
}


input,textarea,select {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D3FCF3 ! important;
	font-size: 1em;
	vertical-align: middle;
	font-weight: normal
}

input[readonly], textarea[readonly], select[readonly] {
	font-family: arial;
	background-color: #E3ECE3 ! important;
	color: black;
}
.toast-bottom-center {
	bottom: 60px ! important;
}
